<h1>New User</h1>
<p><strong>Note: password must contain at least 4 characters, including one capital letter (A-Z) and one number!</strong></p>
<%= render 'form', user: @user %>

<%= link_to 'Back', users_path, class:"btn btn-info" %>
